@charset "UTF-8";

h1{
	border: 2px solid;
	width: 15rem;
	padding: 3rem;
    font-size: 2rem;
}
th{
	border: solid
	
}
.fila1{
	
	
	
	
}
.fila2{
	
	
	
}
.fila3{
	
	
	
	
}
table{
	
	border-bottom: 2px black;
	border-top: 2px blue;
}



